{% extends "app/admin/base1.html" %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Company Lists</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Companies</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Is Verified</th>
                                            <th>Created_At</th>
                                            <th>Updated_At</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>

                                    {% if all_company %}
                                    <tbody>
                                        {% for i in all_company %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.role}}</td>
                                            <td>{{i.is_verified}}</td>
                                            <td>{{i.is_created}}</td>
                                            <td>{{i.is_updated}}</td>
                                            <td>
                                                <form action="{% url 'verifypage' pk=i.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Update">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'deletecompany' pk=i.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Delete">
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

{% endblock %}