{% extends "app/company/base1.html" %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Job Lists</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Jobs</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Candidate Name</th>
                                            <th>Location</th>
                                            <th>Min_Salary</th>
                                            <th>Max_Salary</th>
                                            <th>Experience</th>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>
                                    <!--<tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Job Location</th>
                                            <th>Company Website</th>
                                            <th>Experience</th>
                                            <th>Salary Package</th>
                                        </tr>
                                    </tfoot>-->
                                    {% if all_jobapply %}
                                    <tbody>
                                        {% for i in all_jobapply %}
                                        <tr>
                                            <td>{{i.job.jobname}}</td>
                                            <td>{{i.candidate.firstname}} {{i.candidate.lastname}}</td>
                                            <td>{{i.candidate.city}}</td>
                                            <td>{{i.min_salary}}</td>
                                            <td>{{i.max_salary}}</td>
                                            <td>{{i.experience}}</td>
                                            <td>{{i.candidate.contact}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

{% endblock %}